<div>
<div layout="row" class="md-toolbar-tools" style="background-color:#26A69A;" >
    <div flex>
        <md-button ng-click="toggleLeft()" ><ng-md-icon icon="menu">  </ng-md-icon></md-button>
    </div>

    <div flex>
        <h2 md-truncate flex>NEAT</h2>
    </div>
</div>

<div id ="container">



  <div layout="row">
        <md-content  flex style="background-color:#80CBC4;">

              <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">

                  <md-nav-item md-nav-sref="joy" ng-click='joy()' name="joy" flex>JOY</md-nav-item>
                  <md-nav-item md-nav-sref="passion" ng-click='passion()' name="passion" flex>PASSION</md-nav-item>
                  <md-nav-item md-nav-sref="giving" ng-click='givingback()' name="giving">GIVING BACK</md-nav-item>

              </md-nav-bar>



        </md-content>
  </div>


<span>
      <md-content  style="background-color:#80CBC4;">

      </md-content>

<md-content class="full-height">
  <md-list ng-if="currentNavItem==='joy'">
    <md-list-item layout="row">
      <label flex>What is it that gives you joy?</label>
      <md-button class="md-raised" ng-click="next('passion')"> Next </md-button>
    </md-list-item>
    <md-list-item layout="row">
      <label flex>Select up to three activities that give you joy</label>
    </md-list-item>
  </md-list>

  <md-list ng-if="currentNavItem==='passion'">
    <md-list-item layout="row">
      <label flex>What are you passionate about?</label>
      <md-button class="md-raised" ng-click="next('giving')"> Next </md-button>
    </md-list-item>
    <md-list-item layout="row">
      <label flex>Select up to two activities that you are really passionate about</label>
    </md-list-item>
  </md-list>

  <md-list ng-if="currentNavItem==='giving'">
    <md-list-item layout="row">
      <label flex>How do you wish to give back to others?</label>
      <a ui-sref="dataentry"><md-button class="md-raised"  ng-click="create()"> Finish </md-button></a>
    </md-list-item>
    <md-list-item layout="row">
      <label flex>Select up to two activities that give you a sense of fulfillment from giving back or helping others</label>
    </md-list-item>
    <md-list-item>
      <label flex>You can enter up to three words to describe the activity</label>
    </md-list-item>
  </md-list>
<md-list>
<md-list-item ng-if="currentNavItem==='joy'">

          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
           <md-button class="md-raised" ng-click="create()">Create</md-button>
          <md-button class="md-raised" id="Photography" ng-model="Photography" value="Photography" ng-click="savejoy('Photography')">Photography</md-button>
          <md-button class="md-raised" ng-click="savejoy('Technology')" id="Technology">Technology</md-button>
          <md-button class="md-raised" ng-click="savejoy('Design')" id="Design"> Design</md-button>
          <md-button class="md-raised" ng-click="savejoy('Music')" id="Music"> Music</md-button>
          <md-button class="md-raised" ng-click="savejoy('Entrepreneurship')" id="Entrepreneurship"> Entrepreneurship</md-button>
          <md-button class="md-raised" ng-click="savejoy('Travel')" id="Travel"> Travel</md-button>
          <md-button class="md-raised" ng-click="savejoy('Arts')" id="Arts"> Arts</md-button>
          <md-button class="md-raised" ng-click="savejoy('Reading')" id="Reading"> Reading</md-button>
          <md-button class="md-raised" ng-click="savejoy('Food')" id="Food"> Food</md-button>
          <md-button class="md-raised" ng-click="savejoy('Movies')" id="Movies"> Movies</md-button>
          <md-button class="md-raised" ng-click="savejoy('Cycling')" id="Cycling"> Cycling</md-button>
          <md-button class="md-raised" ng-click="savejoy('Writing')" id="Writing"> Writing</md-button>
          <md-button class="md-raised" ng-click="savejoy('Running')" id="Running"> Running</md-button>
          <md-button class="md-raised" ng-click="savejoy('Fitness')" id="Fitness"> Fitness</md-button>
          <md-button class="md-raised" ng-click="savejoy('Coffee')" id="Coffee"> Coffee</md-button>
          <md-button class="md-raised" ng-click="savejoy('Politics')" id="Politics"> Politics</md-button>
          <md-button class="md-raised" ng-click="savejoy('Hiking')" id="Hiking"> Hiking</md-button>
          <md-button class="md-raised" ng-click="savejoy('Programming')" id="Programming"> Programming</md-button>
          <md-button class="md-raised" ng-click="savejoy('Web Development')" id="Web Development"> Web Development</md-button>
          <md-button class="md-raised" ng-click="savejoy('Innovation')" id="Innovation"> Innovation</md-button>
          <md-button class="md-raised" ng-click="savejoy('Education')" id="Education"> Education</md-button>
          <md-button class="md-raised" ng-click="savejoy('DIY')" id="DIY"> DIY</md-button>
          <md-button class="md-raised" ng-click="savejoy('Cooking')" id="Cooking"> Cooking</md-button>
          <md-button class="md-raised" ng-click="savejoy('Acting')" id="Acting"> Acting</md-button>
          <md-button class="md-raised" ng-click="savejoy('Dance')" id="Dance"> Dance</md-button>
          <md-button class="md-raised" ng-click="savejoy('Yoga')" id="Yoga"> Yoga</md-button>
          <md-button class="md-raised" ng-click="savejoy('Painting')" id="Painting"> Painting</md-button>
          <md-button class="md-raised" ng-click="savejoy('Homesteading')" id="Homesteading"> Homesteading</md-button>
          <md-button class="md-raised" ng-click="savejoy('Causes')" id="Causes"> Causes</md-button>
          </section>

<md-divider></md-divider>

</md-list-item>

<md-list-item ng-if="currentNavItem==='passion'">

          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised">Student</md-button>
          <md-button class="md-raised">Web Developer</md-button>
          <md-button class="md-raised">Software Engineer</md-button>
          <md-button class="md-raised">Project Manager</md-button>
          <md-button class="md-raised">Consultant</md-button>
          <md-button class="md-raised">Designer</md-button>
          <md-button class="md-raised">Art Director</md-button>
          <md-button class="md-raised">Artist</md-button>
          <md-button class="md-raised">Architect</md-button>
          <md-button class="md-raised">Teacher</md-button>
          <md-button class="md-raised">Writer</md-button>
          <md-button class="md-raised">Editor</md-button>
          <md-button class="md-raised">Director</md-button>
          <md-button class="md-raised">Mother</md-button>
          <md-button class="md-raised">Father</md-button>
          <md-button class="md-raised">Musician</md-button>
          <md-button class="md-raised">Dancer</md-button>
          <md-button class="md-raised">Photographer</md-button>
          <md-button class="md-raised">Filmmaker</md-button>
          <md-button class="md-raised">Actor</md-button>
          <md-button class="md-raised">Chef</md-button>
          <md-button class="md-raised">Barista</md-button>
          <md-button class="md-raised">Volunteer</md-button>
          <md-button class="md-raised">Doctor</md-button>
          <md-button class="md-raised">Nurse</md-button>
          <md-button class="md-raised">Realtor</md-button>
          <md-button class="md-raised">Attorney</md-button>
          <md-button class="md-raised">Therapist</md-button>
          <md-button class="md-raised">Psychologist</md-button>
          </section>

<md-divider></md-divider>

</md-list-item>

<md-list-item ng-if="currentNavItem==='giving'">
  <div>
    <p>
      <md-input-container>
        <label>Activity 1</label>
        <input ng-model="giving1" type="text">
      </md-input-container>
    </p>

    <p>
      <md-input-container>
        <label>Activity 2</label>
        <input ng-model="giving2" type="text">
      </md-input-container>
    </p>
  </div>

<md-divider></md-divider>

</md-list-item>

</md-list>
</md-content>
</span>

</div>

</div>